<p> Thanks for buying! </p>

<a href="https://s3.amazonaws.com/one-stripe-payments-tony/Banco+Galicia+-+Online+Banking.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>

